@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Hanalei&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monsieur+La+Doulaise&family=Orbitron:wght@400..900&family=Passion+One:wght@400;700;900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Shadows+Into+Light&family=Smooch+Sans:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Hanalei&family=Monsieur+La+Doulaise&family=Orbitron:wght@400..900&family=Passion+One:wght@400;700;900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Shadows+Into+Light&family=Smooch+Sans:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --fonte-exo2: "Exo 2", sans-serif;
    --fonte-inter: "inter", serif; /* fonte High-tech*/
    --cor1: #1A237E; /* Azul Profundo cores primárias*/
    --cor2: #4A5568; /* Cinza neutro cores primárias*/
    --cor3: #2ECC71; /* Verde Esmeralda secundárias*/
    --cor4: #ff6b35; /* Laranja energético secundárias*/
    --cor5: #E74C3C; /* Vermelho Escarlate contrastes*/
    --cor6: #FFFFFF; /* Branco Puro contrastes*/
    --cor7: #2D3436; /* Preto Azulado fundos e detalhes*/
}
Body {
    background-color: var(--cor6);
    width: 98vw;
    height: 9vw;
}
header {
    background-image:linear-gradient( to left,var(--cor1), var(--cor3));
    color: var(--cor6);
    text-align: center;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.486);
    padding: 30px 13px 43px 20px;
    margin: 18px 15px 30px 28px;
    font-family: var(--fonte-exo2);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.589);
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
}
nav h1 {
    color: var(--cor6);
    margin-top: 15px;
    font-size: 2em;
}
nav p {
    color: var(--cor6);
    margin-top: 15px;
}
ul, li, a {
    text-align: left;
    text-decoration:none;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.486);
    color:rgba(252, 252, 252, 0.856);
    padding-right: 35px;
    font-family: var(--fonte-inter);
    font-size: 1em;
    list-style-position: inside;
    columns: 3;
    display: block;
    padding: 2px 0px 0px 50px;
    margin-top: 5px;
    border-radius: 10px;
    }
ul {
    padding-bottom: 15px;
    border: 0px solid rgba(0, 0, 0, 0.397);
    background-image:linear-gradient( to right ,var(--cor1), var(--cor3));
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.589);
    padding: 0px;
    margin: 36px 18px 36px 21px;
}
.conteudo p{
    border: 0px solid rgba(0, 0, 0, 0.397);
    background-color: var(--cor6);
    font-family: var(--fonte-inter);
    margin: 15px 15px 15px 10px;
    text-indent: 25px;
    padding-left: 30px;   
}

